<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuwanie linku</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form method="post" action="/delete">
    <label>
        Hasło usunięcia:
        <input name="password" type="text">
    </label>
    <button type="submit">Usuń</button>
</form>
<div th:switch="${isDeleted}">
    <p th:case="true">Twój link został usunięty.</p>
    <p th:case="false">Błędne hasło, link nie został usunięty.</p>
    <p th:case="*"></p>
</div>
<p>Powrót na stronę główną: <a href="/">link</a>.</p>
</body>
</html>