<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>
<body>
<div class="container" align="center">
    <br>
    <img src="../static/img/logo.jpg" th:src="@{img/logo.jpg}" alt="logo"/>
    <form action="#" method="post" th:action="@{/details}" th:object="${attribute}">
        <label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Krótki link:</span>
                </div>
                <input type="text" name="shortLink" placeholder="http://localhost:8080/..." th:field="*{shortLink}"
                       aria-describedby="basic-addon3">
            </div>
        </label>
        <button type="submit" class="btn btn-outline-dark">Sprawdź!</button>
</form>
    <div th:switch="${isPresent}">
        <div th:case="true">
            <div>Twój stary link:
                <a th:href="${linkDto.longLink}"><span th:text="${linkDto.longLink}"></span></a>
            </div>
            <p th:text="'Ilość wejść: ' + ${linkDto.enters}"></p>
        </div>
        <p th:case="false" class="alert alert-warning" role="alert">Nie ma takiego linku!</p>
    </div>
    <p>Powrót na stronę główną: <a href="/">link</a>.</p>
</div>
</body>
</html>